<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>User:</strong>
  <%= @user.email %>
</p>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <!-- <th>Password</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>


<% @users.each do |user| %>
	 <%if((user != current_user) and (user.id.in? @findingfriends) == false)%>
      <tr>
        <td><%= user.email %></td>
       <!-- <td><%= user.password %></td> -->
        <td><%= link_to 'Send Request', friends_path(friend: {:sender_id => current_user,:acceptor_id => user,:status => 'PENDING'}), :method => :post  %></td>
                <!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
        <% end %>

    </tbody>

</table>

<!-- <p>
  <strong>Password:</strong>
  <%= @user.password %>
</p> -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
